<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690181918266-q7hlpn3gjd5ja8kpng0sg58bgtctha4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690181918266-q7hlpn3gjd5ja8kpng0sg58bgtctha4e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>690181918266-0sd100hhvmee4msu64qvftjp4gspulgb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKbm5nnr1PhZnFLBFoGpwjx75GPAHLFT0</string>
	<key>GCM_SENDER_ID</key>
	<string>690181918266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetmobile</string>
	<key>PROJECT_ID</key>
	<string>projet-mobile-63297</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-mobile-63297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690181918266:ios:100baed3311f2524cf6f03</string>
</dict>
</plist>